<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-uppercase">{{ context.question }}</h1>
            <p class="text-monospace"> >If you have allergies to certain ingredients, please check product labels for allergen information.</p>
        </div>
    </div>
</div>
</body>
</html>
